{% comment %}
  One blog post card. Expects `post` (a post from the blog category) and uses
  page.lang to pick the language of the date and type label. Shared by
  blog-list.html (the Blog page) and blog-latest.html (the home page).
{% endcomment %}
{% assign tdef = site.data.blog_types | where: "key", post.type | first %}
{% assign search_text = post.title | append: " " | append: post.content | strip_html | strip_newlines | downcase | truncate: 3000, "" %}
<article class="blog-item" data-type="{{ post.type | escape }}" data-date="{{ post.date | date: '%Y-%m-%d' }}" data-title="{{ post.title | downcase | escape }}" data-search="{{ search_text | escape }}">
  {% if post.image.teaser %}
  {% if post.image.teaser contains '://' %}{% assign thumb = post.image.teaser %}{% else %}{% assign thumb = post.image.teaser | prepend: '/images/' | prepend: site.url %}{% endif %}
  <a class="blog-item-thumb" href="{{ site.url }}{{ post.url }}" tabindex="-1" aria-hidden="true"><img src="{{ thumb }}" alt=""></a>
  {% endif %}
  <div class="blog-item-body">
    <p class="blog-item-meta">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{% if page.lang == 'ja' %}{{ post.date | date: '%Y年%-m月%-d日' }}{% else %}{{ post.date | date: '%B %-d, %Y' }}{% endif %}</time>
      {% if post.type %}<span class="blog-type type-{{ post.type | downcase }}">{% if page.lang == 'ja' %}{{ tdef.ja | default: post.type }}{% else %}{{ post.type }}{% endif %}</span>{% endif %}
      {% if post.author %}<span class="blog-item-author">{{ post.author }}</span>{% endif %}
    </p>
    <h2 class="blog-item-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
    <p class="blog-item-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
  </div>
</article>
