<ul class="menu-item">
  {% if page.lang == 'ja' %}
    {% assign navigation_links = site.data.navigation_ja %}
  {% else %}
    {% assign navigation_links = site.data.navigation %}
  {% endif %}
  {% assign current_url = page.url | remove: 'index.html' %}
  {% for link in navigation_links %}
    {% if link.url contains 'http' %}
      {% assign domain = '' %}
    {% else %}
      {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}"{% if current_url == link.url %} class="is-current"{% endif %}{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title }}</a></li>
  {% endfor %}
  {% if page.translation_url %}
    <li><a href="{{ page.translation_url }}">{% if page.lang == 'ja' %}English{% else %}日本語{% endif %}</a></li>
  {% endif %}
</ul>
