<article class="people-card" itemscope itemtype="http://schema.org/Article">
  <a class="people-card-image" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
    <div class="circular--portrait"><img src="{{ site.url }}/images/{{ post.image.teaser | default: site.teaser }}" alt="{{ post.title }}" itemprop="image"></div>
  </a>
  <h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
  <p class="post-excerpt" itemprop="description">{{ post.excerpt | strip_html | truncate: 160 }}</p>
</article>
